section.services.py-md-4
		.container
			.services__title.mb-md-4
				h2.text-uppercase.text-center Наши услуги
			.card-deck
				.card.shadow.text-light
					.card-body.bg-primary
						h4 Кадастровые работы
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est rem laboriosam dolorum consequuntur ab doloribus aut qui excepturi doloremque voluptas, quo blanditiis? Blanditiis sapiente eaque placeat qui laboriosam maiores.
						button.btn-lg.btn.btn-outline-light Подробнее
				.card.shadow.text-light
					.card-body.bg-primary
						h4 Кадастровые работы
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est rem laboriosam dolorum consequuntur ab doloribus aut qui excepturi doloremque voluptas, quo blanditiis? Blanditiis sapiente eaque placeat qui laboriosam maiores.
						button.btn-lg.btn.btn-outline-light Подробнее
			.card-deck
				.card.shadow.text-light
					.card-body.bg-primary
						h4 Кадастровые работы
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est rem laboriosam dolorum consequuntur ab doloribus aut qui excepturi doloremque voluptas, quo blanditiis? Blanditiis sapiente eaque placeat qui laboriosam maiores.
						button.btn-lg.btn.btn-outline-light Подробнее
				.card.shadow.text-light
					.card-body.bg-primary
						h4 Кадастровые работы
						p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis est rem laboriosam dolorum consequuntur ab doloribus aut qui excepturi doloremque voluptas, quo blanditiis? Blanditiis sapiente eaque placeat qui laboriosam maiores.
						button.btn-lg.btn.btn-outline-light Подробнее