.form-submit-btn {
    background-color: transparent;
    padding: 7px 0;
    font-size: .8em;
    border: 2px solid $bright-rasp;
    border-radius: 20px 0 20px 0;
    width: 50%;
    cursor: pointer;
    &:hover {
        background-color: $bright-rasp;
        color: white;
        transform: translateY(-5px);
    }
    @media screen and (min-width: 1240px) {
        padding: 15px 0;
        font-size: 1em;
    }
}